.body{
  background-color:#ececf6 ;
}

.topnav {
  position: fixed;
  /*position: absolute;*/
  top: 0;
  width: 100%;
  height: 44px;
  background-color: #4CAF50;
  color: #ffffff;
  /*position: relative;*/
  overflow: hidden;
}

/*.item a:hover {*/
/*background-color: #ddd;*/
/*color: black;*/
/*}*/
.topnav a:active {
  background-color: #4CAF50;
  color: white;
}

.topnav-center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item {
  width: 40px;
  height: 44px;
  margin: 10px;
  color: white;
}

a.item:hover{
  background-color: #1e7e34;
  color: white;
  height: 44px;
}

.a.item:active{
  background-color: #95999c;
}
.topnav-right {
  direction: rtl;
  float: right;
}

.nav {
  position: relative;
  top: 44px;
  width: 100%;
  height: 44px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  direction: rtl;
  overflow: hidden;
}

.item2 {
  width: 300px;
  margin-right: 5%;
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
}

.person-img {
  width: 44px;
  height: 44px;
}

.search-img {
  width: 44px;
  height: 44px;
  /*border-bottom-color: #0b2e13;*/
  border-bottom-width: 10px;
}
